.addButton {
  background: none;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  border-radius: 13px;
  padding-top: 1%;
  color:white;
  margin-bottom: 5%;
  margin-right: auto;
  display: block;
  font-family: 'Orbitron', sans-serif;
  box-shadow: inset 0 0 5px #000000;
  background:
  linear-gradient(
    to bottom right, 
    #6998ca, #5379b8, #4958a2, #463787, #450b68
    );
}

.addButton:hover {
  background:
  linear-gradient(
    to top left, 
    #6998ca, #5379b8, #4958a2, #463787, #450b68
    );
}