
table {
  width: 100%;
  text-align: center;
  border-spacing: 0px;
  margin-bottom: 7%;
}

td {
  padding: 13px;

}

tr {
  border: 1px;
  border-radius: 13px
}

tr:nth-child(even) {
  background:
  linear-gradient(
    to bottom right, 
    #6998ca, #5379b8, #4958a2, #463787, #450b68
    );
    border: 1px solid black;
}


tr:first-child {
  background: none;
}

p {
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

input {
  cursor: pointer;
  border-radius: 13px;
}

.deleteButton {
  background: none;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  border-radius: 13px;
  color:white;
  padding: 6%;
  padding-bottom: 2%;
  margin: auto;
  display: block;
  font-family: 'Orbitron', sans-serif;  
  box-shadow: inset 0 0 5px #000000;
}

.deleteButton:hover {
  background:
  linear-gradient(
    to top left, 
    #6998ca, #5379b8, #4958a2, #463787, #450b68
    );
}

.form {
  justify-content: center;
  align-items: flex-start;
  padding-top: 5%;

  label {
    margin-top: 0;
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
  }

  input {
    float: right;
    margin-bottom: 15%;
    height: 20px;
    width: 200px;
    cursor: auto;
  }

  input:last-child {
    float: left;
    cursor: pointer;
  }
}