
textArea {
  width: -webkit-fill-available;
  height: 200px;
  margin-top: 0;
  border-radius: 13px;
  color: white;
  border: 5px groove white;
  font-size: 1rem;
  background: none;
}

textarea:active {
  background: none;
  opacity: 0;
}

label {
  margin-top: 45%;
  margin-left: 7.5px;
}