.modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: #fff, $alpha: 0.3);

  &.open{
    display: flex;
  }

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 380px;
    height: 380px;
    background:
    linear-gradient(
      to top left, 
      #6998ca, #5379b8, #4958a2, #463787, #450b68
    );
    border-radius: 13px;

    .close {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 10px;
      cursor: pointer;
    }
    .body {
      display: flex;
      flex: 1;
      justify-content: center;
      padding: 16px;
    }
    .footer {
      display: flex;
      height: 30px;
      justify-content: center;
      align-items: center;
      padding: 11px;
    }
    .buttons {
      background: none;
      border: none;
      font-family: 'Orbitron', sans-serif;
      font-size: 1rem
    }
    .buttons:hover {
      color: white;
      cursor: pointer;
    }
  }
}